<h1 mat-dialog-title>Сменить пароль для пользователя {{user.fullName}}</h1>
<form class="form-full-container"
      [formGroup]="modalForm"
      (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Новый Пароль" type="password"
             formControlName="password" />
      <app-input-error controlName="password" minlength="6"></app-input-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Повторите Пароль" type="password"
             formControlName="comparePassword" />
      <app-input-error controlName="comparePassword" [customErrors]="{'matchOther': 'Пароли должны совпадать'}"></app-input-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button
            type="button"
            (click)="onClose()">
      Отмена
    </button>
    <app-loading-button color="primary"
                        type="submit"
                        [isLoading]="modalLoading$ | async">
      Сменить пароль
    </app-loading-button>
  </div>
</form>
