<h1 mat-dialog-title>
  Сменить маршрут
</h1>
<form [formGroup]="modalForm"
      (appSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="form-field-static">
      <b>Маршрут:</b> {{vehicle.name}} - {{vehicle.route.name}}
    </div>
    <mat-form-field>
      <mat-label>Новый Маршрут </mat-label>
      <app-autocomplete [options]="routes$"
                        formControlName="newRoute">
      </app-autocomplete>
      <app-input-clear-icon matSuffix controlName="newRoute"></app-input-clear-icon>
      <app-input-error controlName="newRoute"></app-input-error>
    </mat-form-field>
    <div *ngIf="showProjects">
      <div class="form-field-static">
        <b>Текущий Перевозчик: </b> {{vehicle.project.name}}
      </div>
      <div class="form-field-static" [class.visibility-hidden]="!modalForm.get('newRoute').value">
        <b>Новый Перевозчик: </b> {{projectForSelectedRoute ? projectForSelectedRoute.name : 'Загрузка ...'}}
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button
            type="button"
            (click)="onClose()">
      Отмена
    </button>
    <app-loading-button color="primary"
                        type="submit"
                        [isLoading]="modalLoading$ | async">
      Сменить маршрут
    </app-loading-button>
  </div>
</form>
