<h1 mat-dialog-title>
  Сменить установщика
</h1>
<form class="form-full-container"
      [formGroup]="modalForm"
      (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="form-field-static">
      <b>Маршрут:</b> {{vehicle.name}} - {{vehicle.route.name}}
    </div>
    <div class="form-field-static">
      <b>Текущий установщик:</b> {{vehicle.provider.name}}
    </div>
    <mat-form-field>
      <mat-label>Новый установщик</mat-label>
      <mat-select formControlName="provider">
        <mat-option *ngFor="let provider of providers$ | async" [value]="provider">
          {{provider.name}}
        </mat-option>
      </mat-select>
      <app-input-error controlName="provider"></app-input-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button
            type="button"
            (click)="onClose()">
      Отмена
    </button>
    <app-loading-button color="primary"
                        type="submit"
                        [isLoading]="modalLoading$ | async">
      Сменить установщика
    </app-loading-button>
  </div>
</form>
