<app-page-header>Транспорт</app-page-header>

<mat-progress-bar mode="indeterminate" [class.visibility-hidden]="!(dataLoading$ | async)"></mat-progress-bar>

<div *ngIf="(pagination$ | async) as pageData">
  <div class="add-button">
    <button mat-raised-button color="primary">Добавить новый транспорт</button>
  </div>

  <div class="table-wrapper table-editable mat-elevation-z8">
    <mat-table [dataSource]="pageData.data">
      <ng-container matColumnDef="plateNumber">
        <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
        <mat-cell *matCellDef="let vehicle"> {{vehicle.plateNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transporter">
        <mat-header-cell *matHeaderCellDef> Перевозчик </mat-header-cell>
        <mat-cell *matCellDef="let vehicle"> {{vehicle.transporter.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="route">
        <mat-header-cell *matHeaderCellDef> Маршрут </mat-header-cell>
        <mat-cell *matCellDef="let vehicle"> {{vehicle.route.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vehicleType">
        <mat-header-cell *matHeaderCellDef> Тип </mat-header-cell>
        <mat-cell *matCellDef="let vehicle"> {{vehicle.vehicleType.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="controls">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let vehicle" class="table-controls">
          <app-edit-icon></app-edit-icon>
          <app-delete-icon></app-delete-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <app-paginator [totalCount]="pageData.total"
                   [pageSize]="pageData.perPage"
                   (onChange)="onParamsChange($event)">
    </app-paginator>
  </div>
</div>
