<div class="row justify-content-center">
  <div class="col-12 col-md-7 col-lg-4">
    <div *ngIf="showLoginForm">
      <form class="form-full-container"
            [formGroup]="loginForm"
            (ngSubmit)="onLogin()">
        <mat-card>
          <h4 class="logo-text">
            <img [src]="logo" />
            МБУ ЦОДД Воронеж
          </h4>
          <h5 style="margin-bottom: 20px;">Введите email и пароль для входа в систему</h5>
          <mat-form-field>
            <input matInput placeholder="Email" type="email"
                   formControlName="email">
            <app-input-error controlName="email"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Пароль" type="password"
                   formControlName="password" />
            <app-input-error controlName="password"></app-input-error>
          </mat-form-field>
          <div style="margin-top: 10px;">
            <app-loading-button color="primary"
                                type="submit"
                                [isLoading]="loading$ | async">
              Войти
            </app-loading-button>
            <button mat-raised-button
                    type="button"
                    (click)="togglePage()"
                    style="float: right;"
                    *ngIf="showRegisterButton">
              Регистрация
            </button>
          </div>
        </mat-card>
      </form>
    </div>
    <div *ngIf="!showLoginForm">
      <form class="form-full-container"
            [formGroup]="registerForm"
            (ngSubmit)="onRegister()">
        <mat-card>
          <h2 style="margin-bottom: 20px">
            Регистрация
          </h2>
          <mat-form-field>
            <input matInput placeholder="Фамилия" type="text"
                   formControlName="lastName">
            <app-input-error controlName="lastName" maxlength="20"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Имя" type="text"
                   formControlName="firstName">
            <app-input-error controlName="firstName" maxlength="15"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Отчество" type="text"
                   formControlName="middleName">
            <app-input-error controlName="middleName" maxlength="20"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Кратко о себе (должность)" type="text"
                   formControlName="description">
            <app-input-error controlName="description" maxlength="256"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="email"
                   formControlName="email">
            <app-input-error controlName="email"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Телефон" type="text"
                   formControlName="phoneNumber">
            <app-input-error controlName="phoneNumber" maxlength="15"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Пароль" type="password"
                   formControlName="password" />
            <app-input-error controlName="password" minlength="6"></app-input-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Повторите Пароль" type="password"
                   formControlName="comparePassword" />
            <app-input-error controlName="comparePassword" [customErrors]="{'matchOther': 'Пароли должны совпадать'}"></app-input-error>
          </mat-form-field>
          <div style="margin-top: 10px;">
            <app-loading-button color="primary"
                                type="submit"
                                [isLoading]="loading$ | async">
              Регистрация
            </app-loading-button>
            <button mat-raised-button
                    type="button"
                    (click)="togglePage()"
                    style="float: right;">
              Назад
            </button>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
