@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "variables";

html, body {
  height: 100%;
  width: 100%;
}

@media (min-width: 1300px) {
  .container {
    max-width: calc(100% - 100px);
  }
}

.form-full-container {
  mat-form-field {
    width: 100%;
  }
}

.form-field-static {
  padding-bottom: 1.25em;
}

.info-notification-overlay {
  background-color: $app-info-color;
  color: $white;
}

.success-notification-overlay {
  background-color: $app-success-color;
  color: $white;
}

.warning-notification-overlay {
  background-color: $app-warn-color;
  color: $white;
}

.error-notification-overlay {
  background-color: $app-error-color;
  color: $white;
}

.table-wrapper {
  .table-filters {
    box-shadow: none;
    padding: 10px 16px 0;
  }
  
  mat-row.table-row-updated {
    background-color: #d4edda;
  }

  &.table-editable {
    .mat-header-row .mat-header-cell:last-child {
      max-width: 100px;
    }

    .mat-row .mat-cell:last-child {
      max-width: 100px;
      justify-content: flex-end;
    }
  }

  &.table-inline-form {
    input {
      width: 100%;
    }

    .mat-row .mat-cell:last-child {
      justify-content: flex-end;
    }
  }

  &.table-scrollable {
    min-height: 200px;

    .mat-table {
      max-height: 400px;
      overflow: auto;
    }
  }

  mat-cell, mat-header-cell {
    padding-left: 16px;
  }

  mat-row {
    padding: 5px 0;
  }

  @include media-breakpoint-down(sm) {
    mat-table {
      border: 0;
      vertical-align: middle
    }

    mat-header-row {
      display: none;
    }

    mat-row {
      border-bottom: 5px solid #ddd;
      display: block;

      &:after {
        content: none;
      }
    }

    mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      padding: 10px 24px;

      &:last-child {
        border-bottom: 0;
      }

      &:before {
        content: attr(mobile-label);
        float: left;
        font-weight: bold;
        min-width: 90px;
        text-align: left;
      }
    }

    &.table-editable {
      .mat-row .mat-cell:last-child {
        max-width: none;

        .mat-mini-fab {
          width: 100%;
          border-radius: unset;
        }
      }
    }
  }
}

.visibility-hidden {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.hidden {
  display: none !important;
}

.add-button {
  margin-bottom: 15px;
}

.bg-success {
  background-color: #d4edda !important;
}

.bg-error {
  background-color: #f8d7da !important;
}

.icon-button {
  cursor: pointer;

  &:hover {
    opacity: 0.7
  }

  &.icon-button-primary {
    color: $indigo;
  }

  &.icon-button-danger {
    color: $red
  }
}

.nolabel-form-control {
  display: block;
  width: 100%;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  color: currentColor;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $form-blue;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0px 0.1rem;

  &:focus {
    color: currentColor;
    background-color: #fff;
    border-color: $form-blue;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $form-blue;
  }

  &.ng-invalid {
    border-color: $red !important;
    box-shadow: unset;
  }
}

.loading-button {
  &.active {
    background-color: white !important;
    cursor: not-allowed !important;
    color: white !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;

    .mat-spinner, .mat-progress-spinner {
      opacity: 1;
      display: block;
    }
  }

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-spinner, .mat-progress-spinner {
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 25%;
  }
}

.loading-overlay {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    opacity: 0.5;
    background: white;
    content: ''
  }
}

.label-pill {
  display: inline-block;
  padding: .25em .4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  color: #fff;

  &.label-pill-full-width {
    width: 100%;
    max-width: 150px;
  }

  &.label-pill-success {
    background-color: $app-success-color;
  }

  &.label-pill-info {
    background-color: $app-info-color;
  }

  &.label-pill-warn {
    background-color: $app-warn-color;
  }

  &.label-pill-error {
    background-color: $app-error-color;
  }
}

.mat-dialog-actions button:first-child {
  margin-left: auto;
}
