@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  width: 100%;
}

.form-full-container {
  mat-form-field {
    width: 100%;
  }
}

.info-notification-overlay{
  background-color: $info;
  color: $white;
}

.success-notification-overlay {
  background-color: $success;
  color: $white;
}

.warning-notification-overlay {
  background-color: $warning;
  color: $white;
}

.error-notification-overlay {
  background-color: $danger;
  color: $white;
}
