$form-blue: #3f51b5;
$app-success-color: #28a745 !default;
$app-info-color: #17a2b8 !default;
$app-warn-color: #fd7e14 !default;
$app-error-color: #dc3545 !default;

$app-sm: "(min-width: 576px)";
$app-md: "(min-width: 768px)";
$app-lg: "(min-width: 992px)";
$app-xl: "(min-width: 1200px)";

$app-sm-down: "(max-width: 576px)";
$app-md-down: "(max-width: 768px)";
$app-lg-down: "(max-width: 992px)";
$app-xl-down: "(max-width: 1200px)";
