<h1 mat-dialog-title>Подтвердить пользователя {{user.fullName}}</h1>
<form class="form-full-container"
      (ngSubmit)="onConfirm()"
      [formGroup]="modalForm">

  <div mat-dialog-content>
    <app-user-role-selector [formGroup]="modalForm"
                            (loadProjects)="loadProjects()"
                            (loadRoutes)="loadRoutes($event)">
    </app-user-role-selector>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button
            type="button"
            (click)="onClose()">
      Отмена
    </button>
    <app-loading-button color="primary"
                        type="submit"
                        [isLoading]="modalLoading$ | async">
      Подтвердить
    </app-loading-button>
  </div>
</form>
