<h1>Главная</h1>

<app-loading-bar [isLoading]="dataLoading$ | async"></app-loading-bar>

<div *ngIf="(statByProvider$ | async).length > 0">
  <mat-card>
    <mat-card-title>
      Количество автобусов онлайн по группам
      <span class="update-at-label">
        {{updateAt}}
      </span>
    </mat-card-title>
    <mat-card-content>
      <div class="row form-full-container align-items-center" [formGroup]="routeStatFilters">
        <div class="col-lg-3 col-md-6 col-12">
          <mat-checkbox color="primary"
                        formControlName="showOnlyErrors">
            Показывать только несовпадающие
          </mat-checkbox>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <mat-form-field>
            <mat-label>Перевозчик</mat-label>
            <mat-select formControlName="projectId">
              <mat-option *ngFor="let project of projects$ | async"
                          [value]="project.id">
                {{project.name}}
              </mat-option>
            </mat-select>
            <app-input-clear-icon matSuffix controlName="projectId"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-12" style="margin-left: auto">
          <mat-form-field>
            <mat-label>Показывать онлайн за</mat-label>
            <mat-select formControlName="intervalId">
              <mat-option *ngFor="let interval of intervalDropdown"
                          [value]="interval.value">
                {{interval.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row total-row">
        <div class="col-lg-auto col-12">
          <b>Глонасс: </b> {{totalOnline$ | async}}
        </div>
        <div class="col-lg-auto col-12">
          <b>Перевозчик: </b> {{totalFact$ | async}}
        </div>
        <div class="col-lg-auto col-12">
          <b>План: </b> {{totalPlanned$ | async}}
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row" style="margin-top: 1px;">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="stat-widget-container">
            <mat-table [dataSource]="statByProject$ | async" [trackBy]="trackByProjectStat">
              <ng-container matColumnDef="project">
                <mat-header-cell *matHeaderCellDef> Перевозчик </mat-header-cell>
                <mat-cell *matCellDef="let stat"> {{stat.project.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="onlineNumber">
                <mat-header-cell *matHeaderCellDef> Глонасс / Перевозчик / План </mat-header-cell>
                <mat-cell *matCellDef="let stat"> {{stat.onlineNumber}} / {{stat.factNumber | NA}} / {{stat.plannedNumber | NA}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsProject"></mat-header-row>
              <mat-row *matRowDef="let stat; columns: displayedColumnsProject;"
                       [class.bg-error]="stat.hasError">
              </mat-row>
            </mat-table>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="stat-widget-container">
            <mat-table [dataSource]="statByRoute$ | async" [trackBy]="trackByRouteStat">
              <ng-container matColumnDef="route">
                <mat-header-cell *matHeaderCellDef> Маршрут </mat-header-cell>
                <mat-cell *matCellDef="let stat"> {{stat.route.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="onlineNumber">
                <mat-header-cell *matHeaderCellDef> Глонасс / Перевозчик / План </mat-header-cell>
                <mat-cell *matCellDef="let stat"> {{stat.onlineNumber}} / {{stat.factNumber | NA}} / {{stat.plannedNumber | NA}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsRoute"></mat-header-row>
              <mat-row *matRowDef="let stat; columns: displayedColumnsRoute;"
                       [class.bg-error]="stat.hasError">
              </mat-row>
            </mat-table>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="stat-widget-container">
            <mat-table [dataSource]="statByProvider$ | async">
              <ng-container matColumnDef="provider">
                <mat-header-cell *matHeaderCellDef> Установщик </mat-header-cell>
                <mat-cell *matCellDef="let stat"> {{stat.provider.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="onlineNumber">
                <mat-header-cell *matHeaderCellDef> Онлайн </mat-header-cell>
                <mat-cell *matCellDef="let stat"> {{stat.onlineNumber}}  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsProvider"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsProvider;">
              </mat-row>
            </mat-table>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
