@import "~variables.scss";

.stat-widget-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

mat-header-cell, mat-cell, mat-footer-cell {
  padding-left: 16px;

  &.mat-column-provider,
  &.mat-column-route,
  &.mat-column-project {
    flex: 2
  }

  &.mat-column-onlineNumber {
    flex: 1;
    justify-content: center;
  }
}

mat-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 5px;

  @media #{$app-sm} {
    padding-left: 16px;
  }
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 5px;

  @media #{$app-sm} {
    padding-right: 16px;
  }
}

mat-row {
  padding: 5px 0;
}

mat-card-title {
  font-size: 18px;

  @media #{$app-lg} {
    font-size: 24px;
  }
}

mat-footer-row, mat-row {
  min-height: 32px;
}

.update-at-label {
  font-size: 16px;
  font-style: italic;
  float: right;
}

.total-row {
  font-size: 18px;
  padding: 16px 5px 16px;

  @media #{$app-sm} {
    padding: 16px;
  }

  @media #{$app-lg} {
    font-size: 24px;
  }
}
