.stat-widget-container {
  position: relative;
  max-height: 500px;
  overflow: auto;
}

mat-header-cell.mat-column-onlineNumber {
  justify-content: flex-end;
}

mat-cell, mat-footer-cell {
  &.mat-column-provider,
  &.mat-column-route,
  &.mat-column-project {
    flex: 2
  }

  &.mat-column-onlineNumber {
    flex: 1;
    justify-content: center;
  }
}

mat-card-title {
  font-size: 18px;
}

mat-footer-row, mat-row {
  min-height: 32px;
}

.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.update-at-label {
  font-size: 16px;
  font-style: italic;
  float: right;
}
