<app-page-header>Транспорт</app-page-header>

<!--<div class="add-button">
  <button mat-raised-button color="primary">Добавить новое ТС</button>
</div>-->

<div *ngIf="(pagination$ | async) as pageData">
  <div class="table-wrapper table-editable mat-elevation-z8">

    <mat-card [formGroup]="filters" class="table-filters form-full-container">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Номер ТС" type="text"
                   formControlName="plateNumber" />
            <app-input-clear-icon matSuffix controlName="plateNumber"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Маршрут" type="text"
                   formControlName="routeName" />
            <app-input-clear-icon matSuffix controlName="routeName"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="!isTransporter">
          <mat-form-field>
            <mat-label>Перевозчик</mat-label>
            <app-autocomplete [options]="projects$"
                              formControlName="project">
            </app-autocomplete>
            <app-input-clear-icon matSuffix controlName="project"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Номер Блока" type="text"
                   formControlName="blockNumber" />
            <app-input-clear-icon matSuffix controlName="blockNumber"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Статус ТС</mat-label>
            <mat-select formControlName="active">
              <mat-option *ngFor="let status of statuses | keyvalue"
                          [value]="status.value">
                {{status.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Марка ТС</mat-label>
            <app-autocomplete [options]="carBrands$"
                              formControlName="carBrand">
            </app-autocomplete>
            <app-input-clear-icon matSuffix controlName="carBrand"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Тип ТС</mat-label>
            <mat-select formControlName="carType">
              <mat-option *ngFor="let carType of carTypes$ | async" [value]="carType.id">
                {{carType.name}}
              </mat-option>
            </mat-select>
            <app-input-clear-icon matSuffix controlName="carType"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="!isTransporter">
          <mat-form-field>
            <mat-label>Установщик</mat-label>
            <mat-select formControlName="provider">
              <mat-option *ngFor="let provider of providers$ | async" [value]="provider.id">
                {{provider.name}}
              </mat-option>
            </mat-select>
            <app-input-clear-icon matSuffix controlName="provider"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="!isTransporter">
          <mat-form-field>
            <mat-label>Тип Блока</mat-label>
            <mat-select formControlName="blockType">
              <mat-option *ngFor="let blockType of blockTypes$ | async" [value]="blockType.id">
                {{blockType.name}}
              </mat-option>
            </mat-select>
            <app-input-clear-icon matSuffix controlName="blockType"></app-input-clear-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Год выпуска" type="text"
                   formControlName="yearRelease" />
            <app-input-clear-icon matSuffix controlName="yearRelease"></app-input-clear-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="text-right">
        <mat-checkbox color="primary"
                      [formControl]="updatePerInterval">
          Обновлять каждые 10 секунд
        </mat-checkbox>
      </div>
    </mat-card>

    <app-loading-bar [isLoading]="dataLoading$ | async"></app-loading-bar>

    <mat-table [dataSource]="pageData.data"
               [trackBy]="trackById"
               matSort
               [matSortActive]="filters.get('sortBy').value"
               [matSortDirection]="filters.get('orderBy').value"
               [matSortDisableClear]="true"
               matSortStart="desc"
               (matSortChange)="sortData($event)">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Номер </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Номер"> {{vehicle.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transporter">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Перевозчик </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Перевозчик"> {{vehicle.project ? vehicle.project.name : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="route">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Маршрут </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Маршрут"> {{vehicle.route ? vehicle.route.name : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="carBrand">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Марка ТС </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Марка ТС"> {{vehicle.carBrand ? vehicle.carBrand.name : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="carType">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Тип ТС </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Тип ТС"> {{vehicle.carBrand ? vehicle.carBrand.carType.name : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="yearRelease">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Год выпуска </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Год выпуска"> {{vehicle.yearRelease || '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Телефон (IMEI) </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Телефон (IMEI)"> {{vehicle.phone || '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="block">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Блок </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Блок">
          <span *ngIf="vehicle.block">{{vehicle.block.blockType.name}}<br />{{vehicle.block.blockNumber}}</span>
          <span *ngIf="!vehicle.block">-</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Статус </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Статус">
          <span class="label-pill label-pill-full-width"
                [ngClass]="vehicle.objOutput ? 'label-pill-error' : 'label-pill-success'">
            {{vehicle.statusName}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="provider">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Установщик </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Установщик"> {{vehicle.provider ? vehicle.provider.name : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Время посл. отклика </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Время последнего отклика"> {{vehicle.lastTime | RusDateTime}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastStationTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Время посл. остановки </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" mobile-label="Время последней остановки"> {{vehicle.lastStationTime | RusDateTime}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="controls">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let vehicle" class="table-controls">
          <app-menu-icon-dropdown *ngIf="vehicle.showMenu">
            <button mat-menu-item *ngIf="vehicle.canChangeRoute" (click)="openChangeRouteDialog(vehicle)">
              Сменить маршрут ТС
            </button>
            <button mat-menu-item *ngIf="vehicle.canChangeProvider" (click)="openChangeProviderDialog(vehicle)">
              Сменить установщика
            </button>
            <button mat-menu-item *ngIf="vehicle.canDisable" (click)="disableVehicle(vehicle)">
              Вывести из эксплуатации
            </button>
            <button mat-menu-item *ngIf="vehicle.canEnable" (click)="openEnableDialog(vehicle)">
              Ввести в эксплуатацию
            </button>
          </app-menu-icon-dropdown>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               [appUpdatedRow]="row.id">
      </mat-row>
    </mat-table>
    <app-paginator [totalCount]="pageData.total"
                   [currentPage]="pageData.currentPage"
                   [pageSize]="pageData.perPage"
                   (onChange)="search($event)">
    </app-paginator>
  </div>
</div>
