<app-page-header header="Транспорт"></app-page-header>

<mat-spinner *ngIf="pageLoading"></mat-spinner>

<div class="table-wrapper mat-elevation-z8" *ngIf="(pagination$ | async) as pageData">

  <div style="height: 4px;">
    <mat-progress-bar mode="indeterminate" [class.d-none]="!(dataLoading$ | async)"></mat-progress-bar>
  </div>

  <table mat-table [dataSource]="pageData.data">
    <ng-container matColumnDef="plateNumber">
      <th mat-header-cell *matHeaderCellDef> Номер </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.plateNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="transporter">
      <th mat-header-cell *matHeaderCellDef> Перевозчик </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.transporter.name}} </td>
    </ng-container>

    <ng-container matColumnDef="route">
      <th mat-header-cell *matHeaderCellDef> Маршрут </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.route.name}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicleType">
      <th mat-header-cell *matHeaderCellDef> Тип </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.vehicleType.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-paginator [totalCount]="pageData.total"
                 [pageSize]="pageData.perPage"
                 (onChange)="onParamsChange($event)">
  </app-paginator>
</div>

