<div class="site-wrapper">
  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 mode="push">
      <div class="branding">
        <img [src]="logo" />
        ЦОДД
      </div>

      <mat-nav-list>
        <a mat-list-item
           [routerLink]="[item.link]"
           *ngFor="let item of allNavigation"
           (click)="sidenav.close()">
          {{item.label}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="toolbar">
        <mat-toolbar color="primary">
          <div class="container" style="display: flex; flex-direction: row; align-items: center;">
            <button class="d-md-none"
                    mat-icon-button
                    (click)="sidenav.toggle()"
                    *ngIf="(isAuthenticated$ | async)">
              <mat-icon>menu</mat-icon>
            </button>

            <span routerLink="home" class="branding">
              <img [src]="logo" />
              МБУ «ЦОДД»
            </span>

            <span class="toolbar-nav-button"
                  *ngFor="let item of navigation">
              <button mat-button
                      [routerLink]="[item.link]"
                      routerLinkActive="active">
                {{item.label}}
              </button>
            </span>

            <span class="toolbar-nav-button" *ngIf="dictionariesNavigation.length > 0">
              <button mat-button [matMenuTriggerFor]="dictionariesMenu">
                <span>Справочники</span>
                <mat-icon style="margin: 0 0 0 4px">arrow_drop_down</mat-icon>
              </button>
              <mat-menu #dictionariesMenu="matMenu">
                <button *ngFor="let item of dictionariesNavigation"
                        mat-menu-item
                        [routerLink]="[item.link]"
                        routerLinkActive="active">
                    {{item.label}}
                </button>
              </mat-menu>
            </span>
            <!--<span class="toolbar-right-button profile-button" *ngIf="(isAuthenticated$ | async)">
    <button mat-button>
      <mat-icon>perm_identity</mat-icon>
      <span>Профиль</span>
    </button>
  </span>-->

            <span class="toolbar-right-button profile-button" *ngIf="(isAuthenticated$ | async)">
              <button mat-stroked-button (click)="onLogoutClick()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Выйти</span>
              </button>
            </span>
          </div>
        </mat-toolbar>
      </div>

      <div class="content">
        <div class="container">
          <mat-spinner *ngIf="isStateLoading$ | async" style="margin: 0 auto"></mat-spinner>
          <ng-content></ng-content>
        </div>
      </div>
      <div class="footer">
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
