<h1 mat-dialog-title>
    {{ !station ? 'Добавить остановку' : 'Редактировать остановку' }}
  </h1>
  <form class="form-full-container"
        [formGroup]="modalForm"
        (appSubmit)="onSubmit()">
    <div mat-dialog-content>
      <div>
          <mat-form-field>
            <input matInput placeholder="Название *" type="text"
                    formControlName="name">
            <app-input-error controlName="name"></app-input-error>
          </mat-form-field>
      </div>
      <div class="row">
        <div class="col-lg-4 col-12">         
          <mat-form-field>
            <input matInput placeholder="Широта *" type="number"
                   formControlName="latitude">
            <app-input-error controlName="latitude"></app-input-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-12">
            <mat-form-field>
              <input matInput placeholder="Долгота *" type="number"
                      formControlName="longitude">
              <app-input-error controlName="longitude"></app-input-error>
            </mat-form-field>                    
        </div>
        <div class="col-lg-4 col-12">
            <mat-form-field>
              <input matInput placeholder="Азимут *" type="number"
                      formControlName="azimuth">
              <app-input-error controlName="azimuth"></app-input-error>
            </mat-form-field>    
        </div> 
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button
              type="button"
              (click)="onClose()">
        Отмена
      </button>
      <app-loading-button color="primary"
                          type="submit"
                          [isLoading]="modalLoading$ | async">
        Сохранить
      </app-loading-button>
    </div>
  </form>
  