<ng-container [formGroup]="roleSelectorForm">
  <mat-form-field>
    <mat-label>Роль</mat-label>
    <mat-select formControlName="roleId">
      <mat-option *ngFor="let role of roles$ | async" [value]="role.id">
        {{role.displayName}}
      </mat-option>
    </mat-select>
    <app-input-error controlName="roleId"></app-input-error>
  </mat-form-field>

  <mat-form-field *ngIf="showProjectsSelect">
    <mat-label>{{(projects$ | async) ? 'Перевозчик' : 'Загрузка ...'}}</mat-label>
    <app-autocomplete [options]="projects$"
                      formControlName="project">
    </app-autocomplete>
    <app-input-error controlName="project"></app-input-error>
  </mat-form-field>

  <mat-form-field *ngIf="showRoutesSelect">
    <mat-label>{{(routes$ | async) ? 'Маршруты' : 'Загрузка ...'}}</mat-label>
    <mat-select formControlName="routeIds" multiple>
      <mat-option *ngFor="let route of routes$ | async"
                  [value]="route.id">
        {{route.name}}
      </mat-option>
    </mat-select>
    <mat-hint>Выберите 1 или несколько маршрутов к которым механик будет иметь доступ</mat-hint>
    <app-input-error controlName="routeIds"></app-input-error>
  </mat-form-field>
</ng-container>
