<div class="row form-full-container" [formGroup]="searchForm">
  <div class="col-lg-8 col">
    <mat-form-field>
      <input matInput placeholder="Введите номер автобуса для поиска" formControlName="plateNumber">
    </mat-form-field>
  </div>
  <!--<div class="col-lg-6 col">
    <mat-form-field>
      <input matInput placeholder="Введите название маршрута для поиска" formControlName="routeName">
    </mat-form-field>
  </div>-->
</div>

<mat-progress-bar mode="indeterminate" [class.visibility-hidden]="!(dataLoading$ | async)"></mat-progress-bar>

<div *ngIf="(pagination$ | async) as pageData">

  <div class="table-wrapper table-inline-form table-scrollable">

    <mat-table [dataSource]="pageData.data">
      <ng-container matColumnDef="plateNumber">
        <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.vehicle.plateNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="route">
        <mat-header-cell *matHeaderCellDef> Маршрут </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <input class="nolabel-form-control"
                 placeholder="Введите новый маршрут"
                 [formControl]="item.newRouteName">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="controls">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div [class.visibility-hidden]="isValueTheSame(item)">
            <button [disabled]="item.newRouteName.invalid"
                    mat-mini-fab
                    color="primary"
                    (click)="onSave(item)"
                    style="margin-right: 5px;">
              <app-save-icon></app-save-icon>
            </button>
            <button mat-mini-fab
                    (click)="onCancel(item)">
              <app-cancel-icon></app-cancel-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <app-paginator [totalCount]="pageData.total"
                   [pageSize]="pageData.perPage"
                   (onChange)="onPageParamsChange($event)">
    </app-paginator>
  </div>
</div>
